@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Titillium+Web&display=swap');
*{
    outline:none;}
.strike {
  text-decoration: line-through;
}

td{
 border: 2px solid #cafafe;
  padding: 5px;
}

.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}
select{
    background:transparent;
    border:none;
    
}
.todoTable-block{
  margin-top: 1rem;
  border: none;
}

.pagination-pages{
  text-align: right;
}

.pagination-pages > * {
  margin-right: 0.5rem;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

::-ms-input-placeholder{
  color: #0b0c10;
}

::-webkit-input-placeholder{
  color: #0b0c10;
}

::placeholder{
  color: #1f2833;
}

input {
  color:#0b0c10;
  border:none;
  background-color:transparent;
  border-bottom:2px solid #0b0c10;
}



input:hover{
    border-bottom:2px solid #55bcc9;
    
}

h3 {
  color:#0b0c10;
  font-family: 'Rowdies', cursive;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1%;
  margin: 12px 0;
  background-image: linear-gradient(250deg,#3feee6,#55bcc9);

}


body{

  font-family: 'Titillium Web', sans-serif;
}

.todo-block{
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid transparent;
  padding: 1rem;
  
  color: #0b0c10;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  #todoTable, .todo-calendar{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  /* for tablets or laptops or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar{
    position: sticky;
    top: 0;
  }


.todo-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
  z-index: 2;
}

.todo-modal{
  min-width: 50vw;
  height: 50vh;
  /*border: 1px solid green;*/
  background-color: #cafafe;
}

.todo-modal-close-btn{
  background-color: red;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.slidedIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
  background-color: #cafafe;
}

button{
  background-image: linear-gradient(250deg,#3feee6,#55bcc9);
  color: #0b0c10;
  border: 1px outset transparent;
  margin: 2px;
  border: none;
}

button:active{
  border: 1px inset #ed6a5e;
}

button:hover{
  background-color: #ffad99;
}

.chevron{
  transform: translateY(0.4rem);
}

.itemsPerPage{
  text-align: right;
  margin-bottom: 0.5rem;
}
